<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>This generates a new ViewController with a CollectionView inside it and all the necessary codes.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<!-- ViewController Name Input -->
        <dict>
            <key>Description</key>
            <string>The name of the ViewController</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>ViewController Name:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___ViewController</string>
			<key>Description</key>
			<string>The ViewController name</string>
			<key>Identifier</key>
			<string>ViewControllerName</string>
			<key>Name</key>
			<string>`ViewController` would be:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<!-- Cell and ViewModel Name Input -->
        <dict>
            <key>Description</key>
            <string>The name for the CollectionView Cell and ViewModel</string>
            <key>Identifier</key>
            <string>cellProductName</string>
            <key>Name</key>
            <string>Cell and ViewModel Name:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_cellProductName:identifier___CollectionViewCell</string>
			<key>Identifier</key>
			<string>customCellName</string>
			<key>Name</key>
			<string>`Cell` would be:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_cellProductName:identifier___CollectionViewModel</string>
			<key>Identifier</key>
			<string>customCellViewModel</string>
			<key>Name</key>
			<string>`CellViewModel` would be:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_cellProductName:identifier___</string>
			<key>Identifier</key>
			<string>CustomCellModel</string>
			<key>Name</key>
			<string>`Model` would be:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>This generates a new view controller with a CollectionView and all the necessary codes.</string>
</dict>
</plist>
